<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Food Ordering Application</title>
</head>
<body>
    <h1>Welcome to the Food Ordering Application</h1>
    <a href="{% url 'register' %}">Register</a><br> 
    <a href="{% url 'login' %}">Login</a><br> 
    <a href="{% url 'customer_dashboard' %}">Customer Dashboard</a><br>
    <a href="{% url 'restaurant_owner_dashboard' %}">Restaurant Owner Dashboard</a><br>
    <a href="{% url 'delivery_personnel_dashboard' %}">Delivery Personnel Dashboard</a><br>
</body>
</html>
